<p>Interactive novel:</p>
<ul>
<li>Difference of interaction between types of members, and the state/type of their motivation: eg. contributor who has been here for 10 years; another one who has been here 2 years ago for one commit and just now is suggesting something new and not planning to stay; etc.</li>
</ul>
<p>Interview questions:</p>
<ul>
<li>What did you do in the past when you stopped find pleasure in contributing to an open source project you had committed to?</li>
<li>Did you have to deal with burned out contributors?</li>
</ul>
<p></p>