<p>TODO: </p>
<ul>
<li>Example projects and initiatives (example that comes to mind : https://cd.foundation/ ?)</li>
<li>Include interviews excerpts on these points, from the different perspectives presented</li>
</ul>
<p></p>