/*------------------------------------*\
    COLOR VARIABLES
\*------------------------------------*/
/**
 * Base colour for text, borders, etc.
 */
$clr-base: #ccc !default;
$clr-selection: $clr-base !default;
$clr-background: #fff !default;
