<section class="about">
  <h2>About This Course</h2>
  <p>Free/Libre and Open Source Software (or ”FLOSS") is built on the principles of freedom, collaboration, and community. This course is a collection of the skills and expertise contributors to this course have acquired over years of working on FLOSS projects. We want to share this experience with you to give you a headstart on your journey into the world of open source.</p>

  <p>This is paragraph 2 of the long course description. Add more paragraphs as needed. Make sure to enclose them in paragraph tags.</p>
  
  <h2>What you'll learn</h2>
  <p>By the end of this 7-module free course, you will not only be able to contribute confidently to FLOSS projects, but will also have a much deeper understanding of the importance of the “open source” way of working.</p>
</section>

<section class="prerequisites">
  <h2>Requirements</h2>
  <p>This course is primarily aimed at people with some programming experience, but no prior engagement with the free software or open source community. Parts of it will suppose some familiarity with computer engineering or coding skills (not focusing on any language in particular) — but it could be followed by anyone who wants to know about FLOSS.</p>
</section>

<section class="course-staff">
  <h2>Course Staff</h2>
  <article class="teacher">
    <div class="teacher-image">
      <img src="/static/images/placeholder-faculty.png" align="left" style="margin:0 20 px 0" alt="Course Staff Image #1">
    </div>

    <h3>Staff Member #1</h3>
    <p>Biography of instructor/staff member #1</p>
  </article>

  <article class="teacher">
    <div class="teacher-image">
      <img src="/static/images/placeholder-faculty.png" align="left" style="margin:0 20 px 0" alt="Course Staff Image #2">
    </div>

    <h3>Staff Member #2</h3>
    <p>Biography of instructor/staff member #2</p>
  </article>
</section>

<section class="faq">
  <section class="responses">
    <h2>Frequently Asked Questions</h2>
    <article class="response">
      <h3>What web browser should I use?</h3>
      <p>The Open edX platform works best with current versions of Chromium, Firefox, or any other recent browser.</p>
      <p>See our <a href="https://edx.readthedocs.org/projects/open-edx-learner-guide/en/latest/front_matter/browsers.html">list of supported browsers</a> for the most up-to-date information.</p>
    </article>

    <article class="response">
      <h3>Question #2</h3>
      <p>Your answer would be displayed here.</p>
    </article>
  </section>
</section>
