/*------------------------------------*\
    $MEDIA
\*------------------------------------*/
@mixin f8-media-object {
  display: block;
  @include clearfix;
}

@mixin f8-media-object__img {
  float: inline-start;
  margin-inline-end: #{$spacing-scalar}rem;

  & img {
    display: block;
  }
}

/**
     * Reversed image location
     * - right instead of left on ltr
     * - left instead of right on rtl
     */
@mixin f8-media-object__img--rev {
  @include f8-media-object__img;
  float: inline-end;
  margin-inline-start: #{$spacing-scalar}rem;
}

@mixin f8-media-object__body {
  display: block;
  overflow: hidden;

  &,
  & > :last-child {
    margin-block-end: 0;
  }
}
