/*------------------------------------*\
    DISPLAY UTILITIES
\*------------------------------------*/
.u-display--block { display: block;}
.u-display--inline-block { display: inline-block;}
.u-display--none--portable {
  @include media-query(portable) {
    display: none;
  }
}
