/*------------------------------------*\
    TRANSFORM UTILITIES
\*------------------------------------*/
.u-translate-3d {
  transform: translate3d(
    var(--translate-x, 0),
    var(--translate-y, 0),
    var(--translate-z, 0)
  );
}

.u-translate-3d--portable {
  @include media-query(portable) {
    transform: translate3d(
      var(--translate-x-portable, 0),
      var(--translate-y-portable, 0),
      var(--translate-z-portable, 0)
    );
  }
}

.u-translate-y {
  transform: translateY(var(--translate-y, 0));
}

.u-translate-y--portable {
  @include media-query(portable) {
    transform: translateY(var(--translate-y-portable, 0));
  }
}
